In [3]:
# # This Python 3 environment comes with many helpful analytics libraries installed
# # It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# # For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# # Input data files are available in the read-only "../input/" directory
# # For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# # You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# # You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [7]:
data = pd.read_csv (r'C:\\Users\\Kumar\Downloads\\git uploads\\Machine-Learning-\\Titanic\\train.csv')
test = pd.read_csv(r'C:\\Users\\Kumar\Downloads\\git uploads\\Machine-Learning-\\Titanic\\test.csv')
data.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
191,192,0,2,"Carbines, Mr. William",male,19.0,0,0,28424,13.0000,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
292,293,0,2,"Levy, Mr. Rene Jacques",male,36.0,0,0,SC/Paris 2163,12.8750,D,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
590,591,0,3,"Rintamaki, Mr. Matti",male,35.0,0,0,STON/O 2. 3101273,7.1250,NaN,S

In [9]:
data.shape

(891, 12)

In [10]:
data = data.drop(['PassengerId' , 'Name' , 'Ticket' , 'Fare' , 'Cabin'] , axis = 'columns')
submission = test[['PassengerId']]
test = test.drop(['PassengerId' , 'Name' , 'Ticket' , 'Fare' , 'Cabin'] , axis = 'columns')

In [11]:
data.sample(3)

     Survived  Pclass   Sex   Age  SibSp  Parch Embarked
489         1       3  male   9.0      1      1        S
125         1       3  male  12.0      1      0        C
594         0       2  male  37.0      1      0        S

In [12]:
data['family'] = data['SibSp'] + data['Parch']
data = data.drop(['SibSp' , 'Parch'] , axis = 1)
test['family'] = test['SibSp'] + test['Parch']
test = test.drop(['SibSp' , 'Parch'] , axis = 1)
data.head()

   Survived  Pclass     Sex   Age Embarked  family
0         0       3    male  22.0        S       1
1         1       1  female  38.0        C       1
2         1       3  female  26.0        S       0
3         1       1  female  35.0        S       1
4         0       3    male  35.0        S       0

In [13]:
test.head()

   Pclass     Sex   Age Embarked  family
0       3    male  34.5        Q       0
1       3  female  47.0        S       1
2       2    male  62.0        Q       0
3       3    male  27.0        S       0
4       3  female  22.0        S       2

In [14]:
data.head()

   Survived  Pclass     Sex   Age Embarked  family
0         0       3    male  22.0        S       1
1         1       1  female  38.0        C       1
2         1       3  female  26.0        S       0
3         1       1  female  35.0        S       1
4         0       3    male  35.0        S       0

In [15]:
data['Sex'] = data['Sex'].map({'male' : 1 , 'female' : 0})
data['Embarked'] = data['Embarked'].map({'S' : 0 , 'Q' : 1 , 'C' : 2})
test['Sex'] = test['Sex'].map({'male' : 1 , 'female' : 0})
test['Embarked'] = test['Embarked'].map({'S' : 0 , 'Q' : 1 , 'C' : 2})
data.head()

   Survived  Pclass  Sex   Age  Embarked  family
0         0       3    1  22.0       0.0       1
1         1       1    0  38.0       2.0       1
2         1       3    0  26.0       0.0       0
3         1       1    0  35.0       0.0       1
4         0       3    1  35.0       0.0       0

In [16]:
test.head()

   Pclass  Sex   Age  Embarked  family
0       3    1  34.5         1       0
1       3    0  47.0         0       1
2       2    1  62.0         1       0
3       3    1  27.0         0       0
4       3    0  22.0         0       2

In [17]:
data.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Embarked      2
family        0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
x = data.iloc[: , 1 : ]
y = data.iloc[: , 0]
x_train , x_test , y_train , y_test = train_test_split (x , y , test_size = 0.2 , random_state = 42)

In [19]:
from sklearn.impute import SimpleImputer 
simpleImputer = SimpleImputer()
embarked_imputer = SimpleImputer(strategy = 'most_frequent')

In [20]:
x_train['Age'] = simpleImputer.fit_transform (x_train[['Age']])
x_test['Age'] = simpleImputer.transform (x_test[['Age']])
test['Age'] = simpleImputer.transform(test[['Age']])

In [21]:
x_train['Embarked'] = embarked_imputer.fit_transform(x_train[['Embarked']]).ravel()
x_test['Embarked'] = embarked_imputer.transform(x_test[['Embarked']]).ravel()
test['Embarked'] = embarked_imputer.transform(test[['Embarked']]).ravel()

In [22]:
x_test.isnull().sum()

Pclass      0
Sex         0
Age         0
Embarked    0
family      0
dtype: int64

In [23]:
data['Embarked'].value_counts()

Embarked
0.0    644
2.0    168
1.0     77
Name: count, dtype: int64

In [24]:
data.sample()

     Survived  Pclass  Sex   Age  Embarked  family
345         1       2    0  24.0       0.0       0

In [25]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=42)
model.fit(x_train, y_train)

DecisionTreeClassifier(random_state=42)

In [26]:
y_pred = model.predict(x_test)

In [27]:
from sklearn.metrics import accuracy_score 
accuracy_score(y_pred , y_test)

0.7988826815642458

In [28]:
test.head()

   Pclass  Sex   Age  Embarked  family
0       3    1  34.5         1       0
1       3    0  47.0         0       1
2       2    1  62.0         1       0
3       3    1  27.0         0       0
4       3    0  22.0         0       2

In [29]:
submission['Survived'] = model.predict(test)

In [30]:
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         1
4          896         0

In [31]:
submission.to_csv('submission.csv' , index = None)